$color-1: #2A3140;
$color-2: #3C4959;
$color-3: #728EA6;
$color-4: #AEB7BF;
$color-5: #F2F2F2;
$color-6: #1B1C1D;

$primary-color: $color-3;
$secondary-color: $color-2;
$background-color: $color-1;
$text-color: $color-5;