@use "../../styles/typography" as *;
@use "../../styles/variables" as *;
@use "../../styles/global.scss" as *;

footer {
  width: 100%;
  max-width: 1800px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin: 0 auto;
  padding: 40px 20px;
  box-sizing: border-box;

  article {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 200px;

    @media (max-width: 1024px) {
      flex-direction: column;
      margin-top: 100px;
      align-items: center;
    }
  }

  .subAbaTitle {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin-left: 30px;

    h2 {
      font-family: $font-secondary;
      font-size: 96px;
      letter-spacing: 20px;
      font-weight: 500;

      @media (max-width: 1024px) {
        font-size: 60px;
        letter-spacing: 10px;
        text-align: center;
      }

      @media (max-width: 480px) {
        font-size: 36px;
        letter-spacing: 5px;
      }
    }
  }

  .subAbaCargos {
    font-family: $font-secondary;
     @media (max-width: 480px) {
      display: flex;
      align-items: center;
      
      }
  }

  .subAba {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    align-items: center;
       @media (max-width: 480px) {
      display: flex;
      flex-direction: column-reverse;
      align-items: center;
      }

  }

  .subAbaNav {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 10px;
    align-items: center;

     

    ul {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      width: 100%;
      max-width: 400px;
      font-family: $font-primary;
      font-size: 24px;

      @media (max-width: 480px) {
        justify-content: space-around;
        align-items: center;
        font-size: 18px;
      }
    }

    form {
      width: 100%;
      max-width: 600px;
      height: auto;
      min-height: 300px;
      padding: 40px;
      background-color: $color-4;
      border-radius: 40px;
      box-sizing: border-box;

      @media (max-width: 768px) {
        padding: 30px;
      }

      @media (max-width: 480px) {
        min-height: 350px;
        width: 300px;
        padding: 20px;
      }
    }
    
  }

  .subAbaFinalNav {
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    margin-left: 0;
    justify-content: center;

    @media (max-width: 768px) {
      gap: 20px;
      flex-direction: column;
      align-items: center;
      display: none;
    }
  }

  .buttomNav {
    width: 130px;

    @media (max-width: 480px) {
      width: 100px;
    }
  }

  .circle {
    border: 1px solid $color-4;
    width: 500px;
    height: 500px;
    border-radius: 50%;
    margin: 100px auto 0 auto;
    position: absolute; // melhor do que absolute pra responsivo

    @media (max-width: 480px) {
      display: none;
    }
  }
   @media (max-width: 480px) {
      align-items: center;
    }
}
